# ==========================================
# 1. ENTORNOS VIRTUALES
# ==========================================
venv/
.venv/
env/
ENV/
bin/
lib/
include/

# ==========================================
# 2. JUPYTER NOTEBOOKS
# ==========================================
.ipynb_checkpoints/
#*.ipynb
*/.ipynb_checkpoints/
# Archivos de autoguardado y checkpoints de Jupyter Lab
.virtual_documents/

# ==========================================
# 3. ARCHIVOS DE DATOS
# ==========================================
# *.csv
# *.xlsx
# *.xls
# *.json
# Si usas bases de datos locales o formatos comprimidos de datos
*.pkl


# ==========================================
# 4. MODELOS ENTREANADOS (Pesados)
# ==========================================
*.pkl


# ==========================================
# 5. CONFIGURACIÓN DE EDITORES (VS Code / PyCharm)
# ==========================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ==========================================
# 6. ARCHIVOS DEL SISTEMA OPERATIVO Y LOGS
# ==========================================
.DS_Store
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
*.log

# ==========================================
# 7. CACHES DE PYTHON
# ==========================================
__pycache__/
*.pyc

# ==========================================
# 8. RESULTADOS DE PRUEBAS Y REPORTES
# ==========================================
outputs/
catboost_info/

# ==========================================
# 9. MLFLOW
# ==========================================
mlruns/
mlartifacts/